@import "tailwindcss";

@media (max-width: 767px) {
  table.block tbody tr {
    margin-bottom: 1rem;
    border: 1px solid #e2e8f0; /* gray-200 */
    border-radius: 0.5rem; /* rounded-lg */
    display: block;
  }

  table.block tbody tr td {
    text-align: right;
    padding-left: 50%;
    position: relative;
  }

  table.block tbody tr td::before {
    content: attr(data-label);
    position: absolute;
    left: 0;
    width: 50%;
    padding-left: 1.5rem; /* px-6 */
    font-weight: bold;
    text-align: left;
  }
}